SUPABASE_URL=rnrfsvimmqvqlchkukxc
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJucmZzdmltbXF2cWxjaGt1a3hjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUxMDMyOCwiZXhwIjoyMDkwMDg2MzI4fQ.ZEQBL4AKn6CGnbWIhV1wXE2ODkKEJyOAN0Yp6-xpofc
FLASK_SECRET_KEY=your-secret-key
GEMINI_API_KEY=your-gemini-api-key
